$sidebarHeight: 61px;

html,
body {
  height: calc(100vh - 61px);
  margin: 0;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

#app {
  height: 100%;
  margin-top: 61px;
}

#nav {
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

a {
  color: $--color-primary;
}

.el-notification__content p {
  text-align: left;
}
